.bill{
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 20px;
    padding: 20px
    
}

.bill>input{
    margin: 15px 0;
    padding: 10px 5px;
    text-align: right;
    background: hsl(189, 41%, 97%);
    border-color: transparent;
}

.bill>input:focus{
outline-color: hsl(172, 67%, 45%);

}

.bill input::-webkit-outer-spin-button,
.bill input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttons{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
}

input:focus.error {
    outline-color: red;
}



